:root {
    --primary-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --slate: #434455;
    --navyblue: #2E2F42;
    --white: #FFFFFF;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--slate);
    background-color: var(--white);
}

/** ---------------------Reset-----------------**/

h1, h2, h3, h4, h5,h6, p {
    margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
    display: block;

}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:active {
    color: var(--ocean);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** ------------------HEADER----------------- */
.header {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #e7e9fc;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: var(--logo-font);
    font-weight:800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
  }

.header-logo-span {
    color: var(--navyblue);
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-list-item {
    padding: 24px 0;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    padding: 24px 0;
}

.navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--ocean);
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.header-address-list:hover, .header-address-list:focus {
    color: var(--ocean);
}

.header-address-item {
margin-left: 40px;
}

/*! ------------------------section-one------------*/


.section-one {
    background-color: var(--navyblue);
    padding-top: 188px;
    padding-bottom: 188px;
}

.section-one-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.section-one-btn {
    font-family: var(--primary-font);
    background-color: var(--iris);
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin-top: 48px;
}

.section-one-btn:hover, section-one-btn:focus{
    background-color: var(--ocean);
}

/*!--------------------------section-two----------------*/

.title-general {
    font-weight:500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.text-general {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.section-two {
    padding: 120px 0;
}

.section-two-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
    
.title-general {
    margin-bottom: 8px;
}

.section-two-element {
    width: calc((100% - 3 * 24px) / 4);
}

/*!------------------------section-three-------------------*/

.section-three {
    padding-bottom: 120px;
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.section-three-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
}

.section-three-element {
    flex-basis: calc((100% - 3 * 24px) / 3);
}

/*!------------------------section-four------------------*/

.section-four {
    background-color: var(--cloud);
    padding: 120px 0;
}

.section-four-list {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
}

.section-four-item {
    background-color: var(--white);
    text-align: center;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.section-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.container-title {
    padding: 32px 0;
}

/*!------------------------footer-------------------*/

.footer {
    background-color: var(--navyblue);
    padding: 100px 0;
}

.footer-logo-link {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.foote-logo-span {
    color: var(--cloud);
}

.footer-logo-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    max-width: 264px;
}

/*!------------------------section--portfolio-------------------*/

.portfolio {
    padding: 96px 0 120px 0;
}

.portfolio-menu-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-menu-item-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    text-align: center;
    cursor: pointer;
    padding: 12px 24px 12px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
}

.portfolio-menu-item-btn:hover, 
.portfolio-menu-item-btn:focus {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
border: 0.5px solid var(--cloud, #F4F4FD);
width: calc((100% - 2 * 24px) / 3);
}

.portfolio-item-img {
    object-fit: cover;
}
.portfolio-item-card {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top:none;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}